h1{
    text-align: center;
}
  a:link { text-decoration: none;
    color:#FFFFFF;
 }
 a:visited{
   color:#FFFFFF;
 }
  .dropdown{
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  font: 67.5%;
  font-size:14px;
  font-weight:bold;
  }

  .dropdown ul{
  background: rgb(109,109,109);
  height:50px;
  list-style:none;
  margin:0;
  padding:0;
  }

  .dropdown li{
  float:left;
  padding:0px;
  }

  .dropdown li a{
  background: rgb(109,109,109);
  color:#cccccc;
  display:block;
  font-weight:normal;
  line-height:50px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
  }

  .dropdown li a:hover, .dropdown ul li:hover a{
  background: rgb(71,71,71);
  color:#FFFFFF;
  text-decoration:none;
  }

  .dropdown li ul{
  background: rgb(109,109,109);
  display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:200px;
  z-index:200;
  }

  .dropdown li:hover ul{
  display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
  }

  .dropdown li li {
  background: rgb(109,109,109);
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:200px;
  }

  .dropdown li:hover li a{
  background:none;
  }

  .dropdown li ul a{
  display:block;
  height:50px;
  font-size:12px;
  font-style:normal;
  margin:0px;
  padding:0px;
  text-align:center;
  }

  .dropdown li ul a:hover, .dropdown li ul li:hover a{
  background: rgb(71,71,71);
  border:0px;
  color:#ffffff;
  text-decoration:none;
  }

  footer{ position:fixed;
  left:0px;
  bottom:0px;
  height:30px; 
  width:100%;
  background:grey;
  color: white; }
