body{
    background: linear-gradient(-135deg, rgb(255, 213, 220), rgb(93, 109, 255)) fixed;
    color: rgb(0, 0, 0);
    font-style: oblique;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
  }
  
  div {
    margin: 120px 0;
    text-align: center;
  }
  p {
    font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", Courier New, sans-serif;
    line-height: 1.5;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
  }
  