body {
    background: linear-gradient(-135deg, rgb(159, 173, 255), rgb(197, 85, 160)) fixed;
    font-family: citalic;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: #fff
  }
  
  div {
    margin: 120px 0;
    text-align: center;
  }
  p {
    font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", Courier New, sans-serif;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #fff;
  }
  
  h1{
      color: rgb(218, 159, 141);
  }
  
 pre{
  font-family:  cursive;
 }