#topMenu {
height: 30px; width: 850px;
position: relative;
margin: 0 auto;
}
#topMenu ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}
#topMenu ul li {
color: Plum;
background-color: #2d2d2d;
float: left;
line-height: 30px;
vertical-align: middle;
text-align: center;
-position: relative;
}
 .menuLink, .submenuLink {
  text-decoration:none;
  display: block;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum;
  }
   .menuLink {
    color: white;
    }
  .topMenuli:hover.menuLink{
    color:Plum;
    background-color: #4d4d4d;
  }
  .longLink{
    width: 190px;
  }
  .submenuLink{
    color: black;
    background-color: white;
    border:solid 1px black;
    margin-right: -1px;
  }
  .submenu {
     position: absolute;
     height: 0px;
     overflow: hidden;
     transition: height .2s;
     -webkit-transition: height .2s;
     -moz-transition: height .2s;
     -o-transition: height .2s;
     width: 600px;
     }
     .submenu li {
       display: inline-block;
      }
      .topMenuLi:hover .submenu {
        height: 32px;
        }
        .submenuLink:hover {
          color: Plum;
           background-color: #dddddd;
         }
   h1 {

     font-weight: 600;
     font-family:fantasy;
     color: Plum;
     text-align: center;
     font-size: 50px;
     padding:20px;
   }
  body {
    background-image: url("방탄 단사.jpg");
    background-size: cover;
  }
  <meta charset="utf-8">
